@font-face {
  font-family: 'ComicNeue';
  src: url(./fonts/);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px 5px 30px;
}

h1,
h2,
p {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 45px;
}

.time {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.dataContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-between;
  width: 60%;
  margin: 20px 0 20px 0;
}

.hidden {
  display: none;
}

.element-container {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 11px 5px 11px;
}

.element-container:nth-child(odd) {
  background-color: #b9bdc1;
}

.removebtn {
  height: 33px;
  border: 2px solid black;
  padding: 7px 11px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 2px 4px;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 900;
  max-width: 100%;
}

input {
  padding: 9px;
}

.formSubmission {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.button {
  max-width: 100%;
  padding: 7px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 2px 4px;
  margin-top: 17px;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  justify-self: flex-end;
  margin-right: 14px;
}

.title,
.author {
  padding: 10px;
  margin-top: 25px;
  height: 25px;
  border: 2px solid black;
  background-color: white;
  width: 90%;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
}

.buttoncont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bar {
  width: 133px;
  height: 3px;
  background-color: black;
  margin: 9px 0 9px 0;
}

.temp1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  border: 2px solid black;
  padding: 0 9px 0 9px;
}

.header-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  color: black;
}

.info-container li > a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
}

.header-elements {
  list-style-type: none;
  max-width: 100%;
  padding: 0 33px 0 33px;
  text-decoration: none;
  color: black;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  border-right: 2px solid black;
}

.awesome {
  border-right: 0;
  position: absolute;
  left: 0;
}

.header-elements .awesome {
  justify-self: flex-start;
  left: 0;
}

.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 44px 0 44px 0;
}

.Contact {
  border-right: 0;
}

.contact-header {
  padding: 2.6rem 0 2.6rem 0;
}

.awesome1 {
  display: flex;
}
